<div class="wrapper">
    <h2 class="education_title">Education</h2>
    <div class="cards">
        <mat-card>
            <mat-card-title><a class="education__place" href="https://cs50.harvard.edu/">
            Harvard University</a></mat-card-title>
            <mat-card-subtitle class="education__description">
            CS50: CS50's Introduction to Computer Science</mat-card-subtitle>
        </mat-card>  
        <mat-card>
            <mat-card-title><a class="education__place" href="#">
            National Technical University of Ukraine 'Kiev Polytechnic, Institute'
            </a>
            </mat-card-title>
            <mat-card-subtitle class="education__description">
            Faculty of Electric Power Engineering and Automatics, Department of Automation of Electromechanical Systems and Electric Drive</mat-card-subtitle>
        </mat-card>
    </div>
</div>