<div class="wrapper">
  
  <section class="contacts">
    <ul class="contacts__list">
      <li class="contacts__list_item">
        <a href="mailto:shyshova24@gmail.com" target="_blank"><mat-icon> email</mat-icon></a>
      </li>
      <li class="contacts__list_item">
        <a href="https://t.me/Olyashyshova"><mat-icon> telegram</mat-icon></a>
      </li>
      <li class="contacts__list_item"><a href="tel:3809377777777" target="_blank">
        <mat-icon> call</mat-icon>
      </a></li>
      <li class="contacts__list_item">
        <a href="facebook.com"><mat-icon> facebook</mat-icon></a>
      </li>
    </ul>
  </section>
  
  <div class="skills_container">
    <h2 class="skills_title">Skills</h2>
    <div class="skills__groups">
      <div class="cards">
        <mat-card>
          <h3>Technologies and tools:</h3>
          <ul class="skills__list">            
            <li class="skill">HTML5 & BEM</li>
            <li class="skill">CSS3 & SCSS</li>
            <li class="skill">JavaScript & AJAX</li>
            <li class="skill">Webpack & Npm</li>
            <li class="skill">GitHub & GitLab</li>
            <li class="skill">React</li>
            <li class="skill">Angular</li>
          </ul>
        </mat-card>
      </div>
      <div class="cards">
        <mat-card>
          <h3>Languages:</h3>
          <ul class="skills__list">
            <li class="skill">Ukrainian</li>
            <li class="skill">English</li>
            <li class="skill">German</li>
          </ul>
        </mat-card>
      </div>
    </div>
  </div>
  
  <div class="projects_container">
    <h2 class="projects_title">Projects</h2>
      <div class="cards"> 
        <mat-card class="project">
          <mat-card-title class="project__title"><a href="#">My Netflix</a></mat-card-title>
          <mat-card-subtitle><i class="project__tech">https://agitated-lamarr-6159be.netlify.app</i></mat-card-subtitle>
        </mat-card>
        <mat-card class="project">
          <mat-card-title class="project__title"><a href="#">Local Goods</a></mat-card-title>
          <mat-card-subtitle><i class="project__tech">https://local-goods.netlify.app/</i></mat-card-subtitle>
        </mat-card>
        <mat-card class="project">
          <mat-card-title class="project__title"><a href="#">TV SHOW SEARCH</a></mat-card-title>
          <mat-card-subtitle><i class="project__tech">https://gifted-meitner-4b593b.netlify.app</i></mat-card-subtitle>
        </mat-card>
        <mat-card class="project">
          <mat-card-title class="project__title"><a href="#">ToDo List</a></mat-card-title>
          <mat-card-subtitle><i class="project__tech">https://eager-bose-1b7477.netlify.app</i></mat-card-subtitle>
          <mat-card-subtitle><i class="project__tech">https://nifty-leavitt-2e339f.netlify.app</i></mat-card-subtitle>
        </mat-card>
      </div>
  </div>
</div>