.wrapper {
  margin: 10px;
  background-color: #414141;
}

.contacts {
  margin-top: 15px;

  &__list {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-direction: row;
  cursor: pointer;
  padding: 0;

    &_item a {
    text-decoration: none;
    color: aqua;

      &:hover {
        opacity: 0.7;
        color: rgb(79, 166, 224);
      }
    }
  }
}

.skills_title, .projects_title {
  text-align: center;
  margin-top: 2em;
  font-weight: 500;
  font-size: 2em;
  color:aqua;
}

.skills__groups {
  display: flex;  
  justify-content: center;
    @media (max-width: 767px) {
        flex-direction: column;
    }
  }

.cards {
  display: flex;
  justify-content: center;
  @media (max-width: 767px) {
    flex-direction: column;
  }
}

.mat-card {
  margin: 1em;
}

.mat-card-title a {
  text-decoration: none;
  color: #000;
  font-style: italic;
  font-size: 0.7em;

  &:hover {
    color: rgb(79, 166, 224);
  }
}
