.wrapper {
  margin: 50px;
  background-color: #27296d;
  border-radius: 4px;
}
.mat-card {
  margin: 1em;
  background-color: #a393eb;
  display: flex;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

button {
  margin-top: 10px;
}
