<div class="wrapper">
  <h2 class="work_title">Work experience</h2>
  <div class="cards">
    <mat-card>
      <mat-card-title class="work__title">
        <a href="https://www.flyuia.com/ua/en/home" target="_blank">
          Ukraine International Airlines</a></mat-card-title>
      <mat-card-subtitle class="work__position">Lead engineer</mat-card-subtitle>
    </mat-card>

    <mat-card>
      <mat-card-title class="work__title">
        <a href="https://www.flyuia.com/ua/en/home" target="_blank">
          Ukraine International Airlines</a></mat-card-title>
      <mat-card-subtitle class="work__position">Lead engineer</mat-card-subtitle>
    </mat-card>
    
  </div>
</div>