h1 {
  text-align: center;
  margin: 35px;
  color: #a393eb;
  font-size: 3em;
}

button {
  background-color: #5e63b6;
  margin: 5px;

  &:hover {
    background-color: #f5c7f7;
  }
}

.container {
    display: flex;
    justify-content: center;
}

.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}